.main-header {
  background-image: url(img/football_767.jpg);
  height: 100vh;
  background-color: #6d6c69;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
}

.main-header::after {
  content: "";
  background-color: #01003f;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
}

.header-logo {
  width: 179px; 
  height: 41px;
}